 <div class="searchline">
            <div class="fr">
              <%= form_tag(search_path, :method => "get") do %>
                 <%= text_field_tag 'search[content]' %>
             </div>
             <div class="fr">
                 <%= select_tag "search[model]", options_for_select({"user"=> "user","book"=>"book"}) %>
               </div>
               <div class="fr">
                  <%= select_tag "search[how]", options_for_select({"完全一致"=>"match","前方一致"=>"forward","後方一致"=>"backward","部分一致"=>"partical"}) %>
             </div>
             <div class="fr">
                <%= submit_tag '検索' %>
                <% end %>
              </div>
            </div>